@import url(../src/vendor/normalize.css);

:root {
  --dark-blue-color: #0A1E32;
  --white-color: #ffffff;
  --grey-color: #666464;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: var(--dark-blue-color)
}

h1 {
  color: var(--dark-blue-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  margin: 0;
}

.ul-clear {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.d-flex {
  display: flex;
}

.wrapper {
  max-width: 1080px;
  min-height: 90vh;
  margin: 80px auto 0;
  border-radius: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.main {
  padding: 40px 60px;
  flex:1
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.search__header{
  max-width: 700px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.search__container {
  width: 250px;
  height: 45px;
  border: 1px solid var(--grey-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search__img {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.clear__img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.search__input {
  border: 0;
  padding: 0;
  box-sizing: content-box;
  outline: none;
  margin-left: 20px;
  max-width: 170px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  gap: 40px;
  margin-top: 40px;
}

.top-20 {
  margin-top: 20px;
}

.btn{
  width: 245px;
  height: 55px;
  background-color: var(--dark-blue-color);
  border-radius: 50px;
  border: none;
  color: var(--white-color);
  font-weight: 600;
  cursor: pointer;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty__description {
  font-size: 20px;
  margin: 30px 0 0 0;
}

.empty__btn {
  margin-top: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__img{
width: 240px;
height: 240px;
}

.info__description {
  font-size: 20px;
  margin: 30px 0 0 0;
  text-align: center;
}

.info__btn {
  margin-top: 30px;
}


.slider{
position: relative;
}
.slider__image{
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.slider__group-btn{
  position: absolute;
  top:50%;
  left: 2.5%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.slider__btn{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--white-color);
  border: none;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.order__date{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.order{
  margin-top: 40px;
}
.order >.cards{
  margin-top: 20px;
}