@import url(../src/vendor/normalize.css);

:root {
  --dark-blue-color: #0A1E32;
  --white-color: #ffffff;
  --grey-color: #666464;
}

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  background-color: var(--dark-blue-color)
}

h1 {
  color: var(--dark-blue-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  margin: 0;
}

.ul-clear {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.d-flex {
  display: flex;
}

.wrapper {
  max-width: 1080px;
  min-height: 90vh;
  margin: 80px auto 0;
  border-radius: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.main {
  padding: 40px 60px;
  flex:1
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__container {
  width: 250px;
  height: 45px;
  border: 1px solid var(--grey-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search__img {
  width: 15px;
  height: 15px;
  margin-left: 20px;
}

.clear__img {
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.search__input {
  border: 0;
  padding: 0;
  box-sizing: content-box;
  outline: none;
  margin-left: 20px;
  max-width: 170px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  gap: 40px;
  margin-top: 40px;
}

.top-20 {
  margin-top: 20px;
}